<!--Forgot Password Form page is displayed here-->

<!--Div holding page-view start here-->
<div class="col-xs-12 col-md-4 offset-md-4 pt-4">
    <!--error will be displayed here-->
    <div class="mb-3 error-message text-center" *ngIf="errorMessage" >
           {{errorMessage}} 
    </div>
    <!--Form starts here-->
    <form class="p-3" >
      <h1 class="text-white text-center">Forgot Password</h1>
      
      <div class="mt-4 mb-4">
         <input type="text" name="username" class="form-control" [(ngModel)]="username" placeholder="username" />      
      </div>
      <div class="mt-4 mb-4">
         <input type="text" name="email" class="form-control" [(ngModel)]="email" placeholder="email" />
      </div>
      <div class="text-center">
        <button class="btn submitBtn mt-3 "  (click)="getOTPScreen()">Send OTP</button>
      </div>
      <div class="d-flex justify-content-end">
          <a class="text-white fs-75" [routerLink]='["/login"]'>Go To Login Page</a>
      </div>
      <p class=" mt-3 text-center text-white fs-75">{{info}}</p>
    </form> 
    <!--Form ends here-->
</div>
<!--Div holding view ends here--> 
