.main{
 /* going to set position absolute of msg-box and alert-box inside it */
    position:relative;
}
/* msg-box - to show new or edited meeting msg */
#msg-box{
    display:none;
    position:absolute;
    left:10px;
    bottom:10px;
    z-index:9999;
    background:rgb(210, 250, 230);
    border:1px solid #777;
    padding:20px;
}
#msg-box ul{
    list-style:none;
}
/* alert-box - to show meeting alerts */
#alert-box{
	background:rgb(210, 250, 230);
	padding:10px 20px 20px 50px;
	width:auto;
	height:auto;	
	color:rgb(12, 45, 66);
	position:absolute;
	left:10px;
	bottom:200px;
	z-index:10000;
	border:1px solid #777;	
	display:none;
}
#alert-box ul{
	list-style-type:none;
	padding:0px !important;
	margin:0px !important;
}
#alert-box ul li{
	border-bottom:1px solid #ddd;
	padding:0px !important;
	margin:0px !important;
}









