<!--------------------Collapsible nav html code starts--------------------------->
<nav class="navbar navbar-expand-md navbar-dark sticky-top">
	<a class="navbar-brand" href="#">ABC Ltd</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/signup']">Sign-up</a>
			</li>
			    
		</ul>
	</div>  
</nav>
<!--------------------nav ends here-------------------------->

<!--------------------------------main container that will hold contents starts here------------------->
<div class="container-fluid main">
	<!---Row -   To show errors here-->
	<div class="row error-message text-center" *ngIf="errorMessage" >
		{{errorMessage}} 
	</div>					
	<!---Row -   To show errors here-->
	<div class="row">
		<div class="col-xs-12 col-md-4 offset-md-4 box p-2 mt-5">
			<form class="p-3">
				<h2 class="text-white text-center heading">Login</h2>
				<div class="mt-4 mb-4">
					<input type="text" name="username" class="form-control" [(ngModel)]="username" placeholder="Username" />      
				</div>								 
				<div class="mt-4 mb-4">
					<input type="password" name="password" class="form-control" [(ngModel)]="password" placeholder="Password" />
				</div>
				<div class="text-center">
					<button class="btn submitBtn mt-3" (click)="loginFunction()">Submit</button>
				</div>
				<div class="d-flex justify-content-end text-white">
					<a [routerLink]="['/forgotpassword']"><i>Forgot Password</i></a>
				</div>
			</form>      
		</div>
	</div>
</div><!----------container main ends here-------------->
<!------------------------Container Footer starts here----------------------- -->
<div class=" container-fluid  footer  text-white text-center pt-2">
		<p class="pb-2">@Ramesh Kumar Munjal</p>
</div>
<!------------------------footer ends here-------------->
