    <!---------------------------------date arrow keys code starts here----------------------------------->  
    <div class="col-md-10 offset-md-2  fs-150 text-center d-flex justify-content-start pb-3"> 
      <span><i class="fa fa-arrow-left pr-3" (click)="getPreviousDay()"></i></span> 
      <span>{{date}} {{month}} {{year}}</span>                   
      <span><i class="fa fa-arrow-right pl-3" (click)="getNextDay()"></i></span>        
    </div>
    <!-----------------------------------date arrow keys code ends here------------------------------------> 
    <!-----------------------------------table starts here----------------------------------------------->
    <table class="tbl table-hover text-center " *ngIf="mtgData.length > 0">
      <tr>
        <th class="hour-cell">Hour</th>
        <th class="tbl-th">Meetings</th>
      </tr>
    
      <tr *ngFor="let mtg of mtgData">
        <td class="hour-cell">{{mtg.hour}}</td>
          
        <td class="contents-cell">
          
          <div *ngIf="mtg.dayObj.mtgs.length > 0">
            <p  style="font-size:0.75rem; display:inline" *ngFor="let mtg of mtg.dayObj.mtgs">
              <span class="mtg-bg fs-75 mr-100 text-white" [ngStyle]="{'background': mtg.bgcolor}"  data-toggle="tooltip" data-placement="right" 
                  title={{mtg.startTime}}-{{mtg.endTime}}:{{mtg.subject}}>
                {{mtg.startTime}}-{{mtg.endTime}}: {{mtg.subject}}
            </span>                
            </p>
          </div>
                           
        </td>
      </tr>
    </table>     
    <!-----------------------------------table ends here----------------------------------------------->
    <div class="pb-3">
      
    </div>
    
    