<!---------------------BreadCrumb-to show navigation path------------------------------------->
<nav class="pt-3">
  <ol class="breadcrumb ">
      <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard/home']">Home</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard/single-meeting', meetingId]">Single Meeting</a></li>
      <li class="breadcrumb-item active">Invitees</li>      
  </ol>
</nav>
<!------------------------------------------------------------------------------------------------>
<div class="row" *ngIf="currentMeeting">
  <div class="col-xs-12 col-md-12">
    <h3 class="text-center">Meeting Date : {{currentMeeting.mtgStartDate | date:'dd/MM/yyyy'}}</h3>
    <table class="tbl table-hover text-center mb-3">
      <tr>
        <th class="box">Subject</th>
        <th>Date</th>
        <th>Time</th>
        <th>Venue</th>
        <th>Convenor</th>
        <th>Mobile No.</th>
      </tr>
      <tr>
        <td>{{currentMeeting.meetingName}}</td>
        <td>{{currentMeeting.mtgStartDate | date:'dd/MM/yyyy'}}</td>
        <td>{{currentMeeting.startTime}} - {{currentMeeting.endTime}} </td>
        <td>{{currentMeeting.meetingVenue}}</td>
        <td>{{currentMeeting.convenor}}</td>
        <td>{{currentMeeting.convenorMobile}} </td>
      </tr>
    </table>
       
  </div>
</div>
<!----------------------------------buttons  starts here-------------------------------------------------->
<div class="d-flex justify-content-center pt-2">
  <a class="headerBtn" [ngClass]="{'activeBtn': isInvitee == true, 'headerBtn': isInvitee == false }" (click)="showList('invitees')" >Invitees</a>
  <a class="headerBtn" [ngClass]="{'activeBtn': isNonInvitee == true, 'headerBtn': isNonInvitee == false }" (click)="showList('non-invitees')">Non-Invitees</a>     
</div>
<!------------------------------------button menu ends here----------------------------------------------->